.body_background 
{
    background-image: url("https://st2.depositphotos.com/1000487/7225/v/950/depositphotos_72257605-stock-illustration-abstract-light-blue-background-vector.jpg");
    background-position: center;
    background-size: cover;
}
